<div class="container text-center">
  <h1>{{title}}</h1>
</div>
<div class="container">
  <div class="row">
    <div class="search-value">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching by id or userId or title or body">
    </div>
    <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <ng-container *ngFor="let category of categories; let i = index">
        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true" (click)="buttonClicked(category)" *ngIf="i===0">{{category}}</button>
        <button class="nav-link" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true" (click)="buttonClicked(category)" *ngIf="i!==0">{{category}}</button>
      </ng-container>
      <button class="btn btn-secondary reset-btn button" (click)="reset()">Reset</button>
    </div>    
    <ngx-shimmer-loading [shape]="'rect'" [width]="'100%'" [height]="'35px'" *ngIf="loader"></ngx-shimmer-loading>
    <ngx-shimmer-loading [shape]="'rect'" [width]="'100%'" [height]="'250px'" *ngIf="loader"></ngx-shimmer-loading>
    <table class="table table-striped" *ngIf="!loader">
      <thead>
        <tr>
          <th class="Id-row">Id</th>
          <th>UserId</th>
          <th>Title</th>
          <th>Body</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let apiValue of filteredApiValues | listFilter:searchText ">
          <td [innerHTML]='apiValue.id | highlight:searchText'>{{apiValue.id }}</td>
          <td [innerHTML]='apiValue.userId | highlight:searchText'>{{apiValue.userId}}</td>
          <td [innerHTML]='apiValue.title | highlight:searchText'>{{apiValue.title}}</td>
          <td [innerHTML]='apiValue.body | highlight:searchText'>{{apiValue.body}}</td>
          <td>
            <button type="button" class="btn btn-outline-secondary" (click)="delete(apiValue.id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<router-outlet></router-outlet>

